function Square.new 0
	push 3
	call Memory.alloc 1
	pop pointer 0
	push argument 0
	pop field 0
	push argument 1
	pop field 1
	push argument 2
	pop field 2
	push pointer 0
	call Square.draw 1
	push pointer 0
	return
function Square.dispose 0
	push pointer 0
	call Memory.deAlloc 1
	return
function Square.draw 0
	push 1
	neg
	call Screen.setColor 1
	push field 0
	push field 1
	push field 0
	push field 2
	add
	push field 1
	push field 2
	add
	call Screen.drawRectangle 4
	return
function Square.erase 0
	push 0
	call Screen.setColor 1
	push field 0
	push field 1
	push field 0
	push field 2
	add
	push field 1
	push field 2
	add
	call Screen.drawRectangle 4
	return
function Square.incSize 0
	push field 1
	push field 2
	add
	push 254
	lt
	push field 0
	push field 2
	add
	push 510
	lt
	and
	if-goto 0.IF.BODY
	goto 0.IF.END
  label 0.IF.BODY
	push pointer 0
	call Square.erase 1
	push field 2
	push 2
	add
	pop field 2
	push pointer 0
	call Square.draw 1
  label 0.IF.END
	return
function Square.decSize 0
	push field 2
	push 2
	gt
	if-goto 1.IF.BODY
	goto 1.IF.END
  label 1.IF.BODY
	push pointer 0
	call Square.erase 1
	push field 2
	push 2
	sub
	pop field 2
	push pointer 0
	call Square.draw 1
  label 1.IF.END
	return
function Square.moveUp 0
	push field 1
	push 1
	gt
	if-goto 2.IF.BODY
	goto 2.IF.END
  label 2.IF.BODY
	push 0
	call Screen.setColor 1
	push field 0
	push field 1
	push field 2
	add
	push 1
	sub
	push field 0
	push field 2
	add
	push field 1
	push field 2
	add
	call Screen.drawRectangle 4
	push field 1
	push 2
	sub
	pop field 1
	push 1
	neg
	call Screen.setColor 1
	push field 0
	push field 1
	push field 0
	push field 2
	add
	push field 1
	push 1
	add
	call Screen.drawRectangle 4
  label 2.IF.END
	return
function Square.moveDown 0
	push field 1
	push field 2
	add
	push 254
	lt
	if-goto 3.IF.BODY
	goto 3.IF.END
  label 3.IF.BODY
	push 0
	call Screen.setColor 1
	push field 0
	push field 1
	push field 0
	push field 2
	add
	push field 1
	push 1
	add
	call Screen.drawRectangle 4
	push field 1
	push 2
	add
	pop field 1
	push 1
	neg
	call Screen.setColor 1
	push field 0
	push field 1
	push field 2
	add
	push 1
	sub
	push field 0
	push field 2
	add
	push field 1
	push field 2
	add
	call Screen.drawRectangle 4
  label 3.IF.END
	return
function Square.moveLeft 0
	push field 0
	push 1
	gt
	if-goto 4.IF.BODY
	goto 4.IF.END
  label 4.IF.BODY
	push 0
	call Screen.setColor 1
	push field 0
	push field 2
	add
	push 1
	sub
	push field 1
	push field 0
	push field 2
	add
	push field 1
	push field 2
	add
	call Screen.drawRectangle 4
	push field 0
	push 2
	sub
	pop field 0
	push 1
	neg
	call Screen.setColor 1
	push field 0
	push field 1
	push field 0
	push 1
	add
	push field 1
	push field 2
	add
	call Screen.drawRectangle 4
  label 4.IF.END
	return
function Square.moveRight 0
	push field 0
	push field 2
	add
	push 510
	lt
	if-goto 5.IF.BODY
	goto 5.IF.END
  label 5.IF.BODY
	push 0
	call Screen.setColor 1
	push field 0
	push field 1
	push field 0
	push 1
	add
	push field 1
	push field 2
	add
	call Screen.drawRectangle 4
	push field 0
	push 2
	add
	pop field 0
	push 1
	neg
	call Screen.setColor 1
	push field 0
	push field 2
	add
	push 1
	sub
	push field 1
	push field 0
	push field 2
	add
	push field 1
	push field 2
	add
	call Screen.drawRectangle 4
  label 5.IF.END
	return